<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Game-Puzzle</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" th:href="@{/css/sb-admin.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    
    <!-- Puzzle CSS & JS -->
    <link href="../../../resources/css/playGame.css" rel="stylesheet" media="screen" th:href="@{/css/games/playGame.css}" />
	<script src="../../../resources/js/playGame.js" th:src="@{/js/games/playGame.js}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html" th:href="@{/}" >Cognition Training</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt=""/>
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt=""/>
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt=""/>
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>#authentication.getName()<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout" th:href="@{/logout}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="dashboard.html" th:href="@{/dashboard}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="puzzle.html" th:href="@{/puzzle}"><i class="fa fa-fw fa-file"></i> Puzzle</a>
                    </li>
                    <li>
                        <a href="charts.html" th:href="@{/charts}"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li>
                        <a href="tables.html" th:href="@{/tables}"><i class="fa fa-fw fa-table"></i> Tables</a>
                    </li>
                    <li>
                        <a href="forms.html" th:href="@{/forms}"><i class="fa fa-fw fa-edit"></i> Forms</a>
                    </li>
                    <li>
                        <a href="bootstrap-elements.html" th:href="@{/bootstrap-elements}"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
                    </li>
                    <li>
                        <a href="bootstrap-grid.html" th:href="@{/bootstrap-grid}"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="blank-page.html" th:href="@{/blank-page}"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Puzzle
                            <small>Combine fragments together as an image</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="dashboard.html" th:href="@{/dashboard}">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Puzzle
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- Content -->
				<div id="Content-Left" style="margin: 0px">
					<div class="upload" th:unless="${filename}">
						<form method="post" enctype="multipart/form-data" action="/upload">
							<table>
								<tr>
									<td>
										<div class="form-group">
	                                		<label>File input</label>
	                                		<input type="file" name="file"/>
	                        			</div>
	                        		</td>
									<td><button type="submit" class="btn btn-default">upload</button></td>
								</tr>
							</table>
						</form>
					</div>
					<div class="play" th:if="${filename}">
						<!-- /.col-sm-4 -->
	                    <div class="col-sm-4">
	                        <div class="panel panel-red" style="border-color: rgba(255, 255, 255, 0)">
	                            <div class="panel-heading">
	                                <h3 id="time" class="panel-title">Timer: 0</h3>
	                            </div>
	                            <div class="panel-body">
	                                <table class="pile_table">
										<tr>
											<td><div class="pile" id="pile_1" ondrop="drop(event)"
													ondragover="allowDrop(event)"></div></td>
											<td><div class="pile" id="pile_2" ondrop="drop(event)"
													ondragover="allowDrop(event)"></div></td>
											<td><div class="pile" id="pile_3" ondrop="drop(event)"
													ondragover="allowDrop(event)"></div></td>
										</tr>
										<tr>
											<td><div class="pile" id="pile_4" ondrop="drop(event)"
													ondragover="allowDrop(event)"></div></td>
											<td><div class="pile" id="pile_5" ondrop="drop(event)"
													ondragover="allowDrop(event)"></div></td>
											<td><div class="pile" id="pile_6" ondrop="drop(event)"
													ondragover="allowDrop(event)"></div></td>
										</tr>
										<tr>
											<td><div class="pile" id="pile_7" ondrop="drop(event)"
													ondragover="allowDrop(event)"></div></td>
											<td><div class="pile" id="pile_8" ondrop="drop(event)"
													ondragover="allowDrop(event)"></div></td>
											<td><div class="pile" id="pile_9" ondrop="drop(event)"
													ondragover="allowDrop(event)"></div></td>
										</tr>
									</table>
									<button type="button" id="play"
										th:onclick="'javascript:play(\'' + ${filename} + '\');'">start</button>
	                            </div>
	                        </div>
	                    </div>				
					</div>
				</div>
				<div id="Content-Right" tyle="margin: 0px">
					<div class="hidden" id="images">
						<div class="image" style="position: fixed; left: 633px; top: 105px"></div>
						<div class="image" style="position: fixed; left: 791px; top: 194px"></div>
						<div class="image" style="position: fixed; left: 624px; top: 411px"></div>
						<div class="image" style="position: fixed; left: 584px; top: 275px"></div>
						<div class="image" style="position: fixed; left: 838px; top: 230px"></div>
						<div class="image" style="position: fixed; left: 619px; top: 201px"></div>
						<div class="image" style="position: fixed; left: 702px; top: 305px"></div>
						<div class="image" style="position: fixed; left: 747px; top: 343px"></div>
						<div class="image" style="position: fixed; left: 727px; top: 399px"></div>
					</div>
				</div>
				<!-- /Content -->
			</div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js" th:href="@{/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>

</body>

</html>
